<div class="vis-container">
	<span class="vis-txt">
		Hello, visitor number 
	</span>
	<span class="vis-counter">
		<a href="http://counter.co.kz" target="_blank">
		<img src="http://counter.co.kz/CounterCoKz?page=0xf0ad.github.io&style=sloppy" border=0></a>
	</span>
	<span class="vis-txt">
		, hope you enjoyed your stay her
	</span>
</div>
<div class="vis-container">
	<script type="text/javascript" src="https://counter.websiteout.com/js/3/0/10/1"></script>
</div>
<div class="sb-inner">   
	<span class="sb-left">built with <a href="https://www.getzola.org" target="_blank" rel="noopener noreferrer">zola</a></span>
	<span class="sb-center"> </span>
	<span class="sb-right">
		<span class="sb-cl"> 0xf0ad @ 2026 </span>
	</span>
</div>
