{% extends "base.html" %}

{% block title %}about | 0xf0ad{% endblock %}

{% block main %}
<div class="term-session">
	<div>
		<div class="term-prompt-line">
			<span class="term-ps1">
				<span class="t-user">{{ config.extra.user }}</span><span class="t-at">@</span><span class="t-host">{{ config.extra.host }}</span><span
					class="t-sep">:</span><span class="t-path">~ </span><span class="t-dollar"> $ </span>
			</span><span class="term-cmd">neofetch</span>
		</div>
		<div class="term-neofetch">
			<div class="neofetch-image">
				<img src="{{ get_url(path="images/pfp.jpg") }}" alt="profile picture">
			</div>
			<div class="term-neo-output">
				     Hamza Fouad
				<br>-------------------------------------------
				<br><span class="t-accent">OS</span>: curiosity-x86_64
				<br><span class="t-accent">Host</span>: flesh'n'bones
				<br><span class="t-accent">Uptime</span>: 20 years
				<br><span class="t-accent">Timezone</span>: Agadir, Morocco
				<br><span class="t-accent">Packages</span>: C/C++, Python, Zig, Dialog APL
				<br><span class="t-accent">Shell</span>: CS / Embedded Systems Student @ INPT
				<br><span class="t-accent">Status</span>: probably debugging
			</div>
		</div>

		<div class="term-prompt-line">
			<span class="term-ps1">
				<span class="t-user">{{ config.extra.user }}</span><span class="t-at">@</span><span class="t-host">{{ config.extra.host }}</span><span
					class="t-sep">:</span><span class="t-path">~</span><span class="t-dollar"> $ </span>
			</span>
			<span class="term-cmd">cat contact.sh</span>
		</div>
		<div class="term-output">
			#!/usr/bin/env feel\ free\ to\ reach\ out
			<br>export <b>EMAIL</b>="<a href="mailto:FouadHamza@proton.me">FouadHamza@proton.me</a>"
			<br>export <b>LinkedIn</b>="<a href="www.linkedin.com/in/0xf0ad">FOUAD Hamza</a>
			<br>export <b>GITHUB</b>="<a href="https://github.com/0xf0ad">0xf0ad</a>"
			<br>export <b>STEAM</b>="<a href="https://steamcommunity.com/id/0xf0ad/">fresh fish dish</a>"
			<br>export <b>DISCORD</b>=@0xf0ad  #although I don't use very often
			<br>export <b>PROJECT_EULER</b>=2078784_nJ68uQHhuO9ULSZqsVoqri52isaxoRGH
		</div>

		<div>
			<a href="http://www.nerdtests.com/ft_nq.php">
				<img src="http://www.nerdtests.com/images/ft/nq/21991e3bef.gif"
				alt="I am nerdier than 98% of all people. Are you a nerd? Click here to take the Nerd Test,
				get nerdy images and jokes, and write on the nerd forum!">
			</a>
		</div>

			<div class="term-prompt-line">
			<span class="term-ps1">
				<span class="t-user">{{ config.extra.user }}</span><span class="t-at">@</span><span class="t-host">{{ config.extra.host }}</span><span
					class="t-sep">:</span><span class="t-path">~</span><span class="t-dollar"> $ </span>
			</span>
			<span class="term-cmd">lspci</span>
		</div>
		<div class="term-output">
			    # My hardware
			<br># My main laptop
			<br>CPU: Intel i5-8365U (8) @ 4.1 GHz
			<br>GPU: Intel WhiskeyLake-U GT2 [UHD Graphics 620]
			<br>Mem: 8Gb
			<br>OS : NixOS 26.05 (Yarara) x86_64
			<br>
			<br># My secondary computer
			<br>a motherboard that works only on odd numbered days
			<br>CPU: Intel i5-4590 (4) @ 3.7 GHz
			<br>GPU: NVIDIA GeForce GTX 1050 Ti
			<br>OS : Void Linux x86_64
			<br>Mem: 8 Gb
			<br>
			<br># My secondary secondary computer
			<br>CPU: intel Pentium 4
			<br>GPU: intel SD
			<br>Mem: 512 Mem
			<br>OS : Void Linux
		</div>
	
		<div class="term-prompt-line">
			<span class="term-ps1">
				<span class="t-user">{{ config.extra.user }}</span><span class="t-at">@</span><span class="t-host">{{ config.extra.host }}</span><span
					class="t-sep">:</span><span class="t-path">~</span><span class="t-dollar"> $ </span>
			</span>
			<span class="term-cmd">gpg --export --armor "$EMAIL"</span>
		</div>
		<div class="term-output">
			-----BEGIN PGP PUBLIC KEY BLOCK-----
			<br>
			<br>mDMEajm95hYJKwYBBAHaRw8BAQdAZYoJagYxUO/9lL3XqgDqzexpdK74h2tYJQTJ
			<br>VyubMJe0HEhhbXphIDxGb3VhZEhhbXphQHByb3Rvbi5tZT6IlgQTFgoAPhYhBHgm
			<br>CL2ZZSWl4lYsvKMYOZ1tW/PaBQJqOb3mAhsDBQkA7U4ABQsJCAcCBhUKCQgLAgQW
			<br>AgMBAh4BAheAAAoJEKMYOZ1tW/PadaMA/iBQgqWQJklQek9noW8PW+h46zl7jywD
			<br>DBC6Bp770aldAQChl5ayFRewcoxvwxrqqvxyQqrd9ZzbshAk4K4DTO4zArg4BGo5
			<br>veYSCisGAQQBl1UBBQEBB0BJWNZvoDziG61GO9ul6xqpzj4iqLWndzsqT555Yj1k
			<br>dgMBCAeIfgQYFgoAJhYhBHgmCL2ZZSWl4lYsvKMYOZ1tW/PaBQJqOb3mAhsMBQkA
			<br>7U4AAAoJEKMYOZ1tW/PafFEA/jjB84/BfO9o/gcriDx/XIZHS6ARg2kzSpRUTG6D
			<br>nVBPAQCFaUGhXSsxNBfy6RGhycY0T/o48Piu54bfU37Ie8dpCg==
			<br>=nvpF
			<br>-----END PGP PUBLIC KEY BLOCK-----
 		</div>
	</div>
</div>
{% endblock %}
