{% extends "base.html" %}

{% block title %}about | 0xf0ad{% endblock %}

{% block main %}
<div class="term-session">
	<div>
		<div class="term-prompt-line">
			<span class="term-ps1">
				<span class="t-user">{{ config.extra.user }}</span><span class="t-at">@</span><span class="t-host">{{ config.extra.host }}</span><span
					class="t-sep">:</span><span class="t-path">~ </span><span class="t-dollar"> $ </span>
			</span><span class="term-cmd">neofetch</span>
		</div>
		<div class="term-neofetch">
			<div class="neofetch-image">
				<img src="{{ get_url(path="images/pfp.jpg") }}" alt="profile picture">
			</div>
			<div class="term-neo-output">
				     Hamza Fouad
				<br>-------------------------------------------
				<br><span class="t-accent">OS</span>: curiosity-x86_64
				<br><span class="t-accent">Host</span>: flesh'n'bones
				<br><span class="t-accent">Uptime</span>: 20 years
				<br><span class="t-accent">Timezone</span>: Agadir, Morocco
				<br><span class="t-accent">Packages</span>: C/C++, Python, Zig, Dialog APL
				<br><span class="t-accent">Shell</span>: CS / Embedded Systems Student @ INPT
				<br><span class="t-accent">Status</span>: probably debugging
			</div>
		</div>

		<div class="term-prompt-line">
			<span class="term-ps1">
				<span class="t-user">{{ config.extra.user }}</span><span class="t-at">@</span><span class="t-host">{{ config.extra.host }}</span><span
					class="t-sep">:</span><span class="t-path">~</span><span class="t-dollar"> $ </span>
			</span>
			<span class="term-cmd">cat contact.sh</span>
		</div>
		<div class="term-output">
			#!/bin/env feel\ free\ to\ reach\ out
			<br>export <b>EMAIL</b>="<a href="mailto:FouadHamza@proton.me">FouadHamza@proton.me</a>"
			<br>export <b>LinkedIn</b>="<a href="www.linkedin.com/in/0xf0ad">FOUAD Hamza</a>
			<br>export <b>GITHUB</b>="<a href="https://github.com/0xf0ad">0xf0ad</a>"
			<br>export <b>STEAM</b>="<a href="https://steamcommunity.com/id/0xf0ad/">fresh fish dish</a>"
			<br>export <b>DISCORD</b>=@0xf0ad  #although I don't use very often
			<br>export <b>PROJECT_EULER</b>=2078784_nJ68uQHhuO9ULSZqsVoqri52isaxoRGH
		</div>

			<div class="term-prompt-line">
			<span class="term-ps1">
				<span class="t-user">{{ config.extra.user }}</span><span class="t-at">@</span><span class="t-host">{{ config.extra.host }}</span><span
					class="t-sep">:</span><span class="t-path">~</span><span class="t-dollar"> $ </span>
			</span>
			<span class="term-cmd">lspci</span>
		</div>
		<div class="term-output">
			    # My hardware
			<br># My main laptop
			<br>CPU: Intel i5-8365U (8) @ 4.1 GHz
			<br>GPU: Intel WhiskeyLake-U GT2 [UHD Graphics 620]
			<br>Mem: 8Gb
			<br>OS : Arch Linux x86_64
			<br>
			<br># My secondary computer
			<br>a motherboard that works only on odd numbered days
			<br>CPU: Intel i5-4590 (4) @ 3.7 GHz
			<br>GPU: NVIDIA GeForce GTX 1050 Ti
			<br>OS : Slackware 15.0 x86_64 x86_64   # idk why its repeated
			<br>Mem: 8 Gb
			<br>
			<br># My secondary secondary computer
			<br>CPU: intel Pentium 4
			<br>GPU: intel SD
			<br>Mem: 512 Mem
			<br>OS : Void Linux
		</div>
	
		<div class="term-prompt-line">
			<span class="term-ps1">
				<span class="t-user">{{ config.extra.user }}</span><span class="t-at">@</span><span class="t-host">{{ config.extra.host }}</span><span
					class="t-sep">:</span><span class="t-path">~</span><span class="t-dollar"> $ </span>
			</span>
			<span class="term-cmd">gpg --export --armor "$EMAIL"</span>
		</div>
		<div class="term-output">
			-----BEGIN PGP PUBLIC KEY BLOCK-----
			<br>
			<br> mI0EagElDAEEAMAojI4+9grIAyYhUAenVMLYRZlHtP4oCHQTF0YjjxfyyFw7PXhl
			<br> KssaFZat4eVkMbOnyxtklLsKWgNwqQjjZXo30xXFS/LJwvvwanGfSOzvjrkZXnWw
			<br> 8Ss/jSLaFYaQO41vZFqKaRf2RtYIXv6EY8LqC/YXOqmTOwH4kHcn1m71ABEBAAG0
			<br> JUhhbXphICh0ZWVoZWUpIDxGb3VhZEhhbXphQHByb3Rvbi5tZT6I1AQTAQoAPhYh
			<br> BBasOSBo3JsfP8emHQVlb12ZzUF+BQJqASUMAhsDBQkATxoABQsJCAcCBhUKCQgL
			<br> AgQWAgMBAh4BAheAAAoJEAVlb12ZzUF+Q48D/R6p0nOIoKcTNESU+iySEfrCQENn
			<br> K81U0VZ9oXgQp84qTQvh2vPwxfbmi2XtQIar4E8lCvlRe58bJ0okJbLNbUMklCaC
			<br> 0CH6XfSnEPSdD4mXI52mvdG0yR27Ph5GhdJ6lTyZ9AwZVzLwmoZe1mcJ4oPTDAnG
			<br> lh3nehFnsP9FtPZOuI0EagElDAEEAMHtDyzXLbpmEs02ZL2JJM3LrIQaMH57FyOG
			<br> elLBWYws+ITnU8AnYUtIAOg9IsOt13YH6Ydjj8RltVoSl8MQ9iwLYWWA62uf5Qm0
			<br> BKffHiPS+z5CKC7gMa9CPXqQiUWg24AGdU3IUO4ulM32VXMJZyVuhmJ9/0vugPt/
			<br> a2Ht/WrhABEBAAGIvAQYAQoAJhYhBBasOSBo3JsfP8emHQVlb12ZzUF+BQJqASUM
			<br> AhsMBQkATxoAAAoJEAVlb12ZzUF+ZzwEAJZZLEq3tkShQlg87XqhWpE0L5WL52Gi
			<br> 8m6NEV+hAuOwWRRXZTkQeKg1snr76Wv2vWY+IC4L4QarQD+VZZ1/iQpuck4MxnaP
			<br> Fwb7b+/KWR4lB7GRtXNKAGvGLHKALOamuEMYGldr7nDiMCNSc8f+UQsaQy/2Xlfb
			<br> qgCnjMswTKoY
			<br> =7UzO
			<br> -----END PGP PUBLIC KEY BLOCK-----
 		</div>
	</div>
</div>
{% endblock %}
