{% extends "base.html" %}

{% block title %}Home — 0xf0ad{% endblock %}

{% block main %}
<div class="term-session">

    <div class="term-banner">
        <div class="ascii-art">
  ██████╗ ██╗  ██╗███████╗ ██████╗  █████╗ ██████╗
 ██╔═████╗╚██╗██╔╝██╔════╝██╔═████╗██╔══██╗██╔══██╗
 ██║██╔██║ ╚███╔╝ █████╗  ██║██╔██║███████║██║  ██║
 ████╔╝██║ ██╔██╗ ██╔══╝  ████╔╝██║██╔══██║██║  ██║
 ╚██████╔╝██╔╝ ██╗██║     ╚██████╔╝██║  ██║██████╔╝
  ╚═════╝ ╚═╝  ╚═╝╚═╝      ╚═════╝ ╚═╝  ╚═╝╚═════╝</div>
    </div>

		<div class="term-prompt-line">
			<span class="term-ps1">
				<span class="t-user">heacker</span><span class="t-at">@</span><span class="t-host">MACHIINE</span><span
					class="t-sep">:</span><span class="t-path">~</span><span class="t-dollar"> $ </span>
			</span>
			<span class="term-cmd">whoami</span>
		</div>
		<div class="term-output">
			<b>Hello!</b>, I'am <b>Hamza Fouad</b> I'm a 20 years old Computer-Science / Embedded Systems /
			Computer-Engineering Student,
			and I love breaking thinks appart
		</div>

		<div class="term-prompt-line">
			<span class="term-ps1">
				<span class="t-user">heacker</span><span class="t-at">@</span><span class="t-host">MACHIINE</span><span
					class="t-sep">:</span><span class="t-path">~</span><span class="t-dollar"> $ </span>
			</span>
			<span class="term-cmd">neofetch</span>
		</div>
		<div class="term-neofetch">
			<div class="neofetch-image">
				<img src="{{ get_url(path="images/pfp.jpg") }}" alt="profile picture">

			</div>
			<div class="term-neo-output">
				     Hamza Fouad
				<br>-----------
				<br><span class="t-accent">OS</span>: curriosity-x86_64
				<br><span class="t-accent">Host</span>: flesh'n'bones
				<br><span class="t-accent">Uptime</span>: 20 years
				<br><span class="t-accent">Timezone</span>: Agadir, Morocco
				<br><span class="t-accent">Packages</span>: C/C++, Python, Zig, Dialog APL
				<br><span class="t-accent">Shell</span>: CS / Embedded Systems Student @ INPT, Rabat
				<br><span class="t-accent">Status</span>: probably debugging
			</div>
		</div>

		<div class="term-prompt-line">
			<span class="term-ps1">
				<span class="t-user">heacker</span><span class="t-at">@</span><span class="t-host">MACHIINE</span><span
					class="t-sep">:</span><span class="t-path">~</span><span class="t-dollar"> $ </span>
			</span>
			<span class="term-cmd">gpg --export --armor "$EMAIL"</span>
		</div>
		<div class="term-output">
			    -----BEGIN PGP PUBLIC KEY BLOCK-----
			<br> 
			<br> mDMEagAc6xYJKwYBBAHaRw8BAQdA1vJaoCTyOu1J3qscwISVphoDeQonUQ83vcU/
			<br> aVQhPwS0JkhhbXphIChDb21tZW50KSA8Rm91YWRIYW16YUBwcm90b24ubWU+iJYE
			<br> ExYKAD4WIQRocqYPaWxcQoQZKt1aogqw0wC1xwUCagAc6wIbAwUJABuvgAULCQgH
			<br> AgYVCgkICwIEFgIDAQIeAQIXgAAKCRBaogqw0wC1x8dwAP0e/x8xpweW00fXfR9r
			<br> zoCE+i8YYhLj8A+IXDJ6EZUYZAEAqV+PpH17k3OeaVZVv93312vbuq3FrvfTrdZs
			<br> +1Y+gQS4OARqABzrEgorBgEEAZdVAQUBAQdACzbXxCgta4x3t31mFYoj79N2sqcv
			<br> 09V9CnXfrtWFHGEDAQgHiH4EGBYKACYWIQRocqYPaWxcQoQZKt1aogqw0wC1xwUC
			<br> agAc6wIbDAUJABuvgAAKCRBaogqw0wC1x4uzAP9t3C6FFcMcYXGfGbJtsR9Lpnsh
			<br> dTXTdn7d6ovgTHjpyAEAyzuLx5fFTrEdDdJ80bEkSKO3KD4bzYeZrEHXxwfRPAeZ
			<br> Ag0EagAiUAEQAK2T8dh/iGCAAJkj5QZ//2fsaUimozrOrfDJS1J6Q890EDJy/xcO
			<br> yhio353O3CKkn2Etz+VXZslP0jniLJN0ciomArV0rGfTydTqXjF+tGjQc85OG/iH
			<br> e49jq00zEpZAdFDTWgKRd7MU55YDyyrEVlfpB++TTDeNP899y7G4kU5Rjete+OIY
			<br> g33aItBs3536L5UFbhPM34q9KSiRq0TsGwfALiy/45ACtPaYz2eRyPyHCy9Lefg8
			<br> W2jRq34qDppA/ao1Ilez7+TB3kifWaYSCMDD94y//dhS1nSKFvd0Y3SqrNrdnS0c
			<br> DaW8CdmMdbgq0Kdn1J7jy/EzhVvJ86lnmON8JDezUsuxqPCtg+K3T83D2jZhsPjQ
			<br> Bu07/2E6gYvlshsVphsunZ3OoKvZt82TETjhRmrbZKbdDSKqgKnf3ClcrWbEksV9
			<br> tGe/mxBmAasYIfcC6nx0Zy96YQO5zjWOTftLZahD/XResWGxTw2sCvlfv8As4P13
			<br> 27YWmq99L4el1KasFa9D9XlAWwLLSxHJeU1SVYw+SuviroqhZTc/JihwCm7YmVvR
			<br> uM8ylYhzoENKqMFnqfFODEZHuQN4C5hhXLi8TUC3LpI866UIiGOO/+EvekgxdFdC
			<br> +amQxOwKQsztSwfPkmdSj0UDy9/2yGKq3x8emwE4MsH6JfSGYywWzxWHABEBAAG0
			<br> KUhhbXphIChuZSBjb21tZW50KSA8Rm91YWRIYW16YUBwcm90b24ubWU+iQJUBBMB
			<br> CgA+FiEEdVsIor/OcB2pCTCyGU6l2aCJw1MFAmoAIlACGwMFCQAnjQAFCwkIBwIG
			<br> FQoJCAsCBBYCAwECHgECF4AACgkQGU6l2aCJw1MPUw/7BPUn0KdGhoB8JN7SUMS2
			<br> fKM3D2PI36Z+o3YwPOAIFUBFsLWdw8eIBPzZx2f8WlZaM2RFlqxTnVFXvsOahsBQ
			<br> PSi09v3dj7o/bd0dWkghaAiNQJnFXV0i3jeOGNqWc9cp6czVRj0s4LzzNmCfzCvA
			<br> md818Y9shRUKJOxIhUPVZFdTav/KHSUrnFqG6FDy1CgCrQQF7bqLoLnB2AEQ875Y
			<br> zfGMHDZwFztiBWNEYgqF8ALb97Ls1oGNthUlnk8Y7GR51reyKlOvzIjwT9pnGs69
			<br> Xs8jeyk8Xleq90i0uaLGZwiW6sdwbD7x4gwH3VKco/lhMU1H+4g1qdYTRDMsIJSv
			<br> 3f0kw5ErRwxOBJyrIWsnjtgsllbOm8LTAyrSLbUIMIdz4DaNGq9EThOhhevEurXy
			<br> iCZ0az27G4lgIPdNE9wc7GWOt2bjvRcYW+YIuGLc8zwzz/91+MknwS2NivXwTm3B
			<br> nLptPNsrSzBh87bCpzJVkRUvZ5w3bE6qh6j/+0u61WqNLlwl9N/B050QOOFDox2D
			<br> icRSXzCNPM8vmQ6CJJw5OStHnBnAitF9m1tad2Q4w+pq+03G3oWG0UkNAsuyYVSJ
			<br> lWMgWuJoKx8ZWBWlVMBNxkTL/Ouel77roBZ2BZbndLZfO6pcqSNj0R7uxRnya7eI
			<br> 7JyLptSQNVIzQ9s0OyMUzkS5Ag0EagAiUAEQALgyFJ95pg3F3oyZ80isMKwykJuE
			<br> M/MGb2R2OuPRV3Hpd3mcMxJBoSM1Q5EeKn1yg6zqc1eCcHljZhdgvUoD8kRMENzr
			<br> Dqwt7dEipbrDAf50mjX3IFtzT1pgWv/f4YKKYwwY9eNIOhqT4WTNFN9Sn6+6gdbd
			<br> rzvuz6rN9vxhflrXq4sAIDaSmY2IuKkM86Z+M55Uzb3s0DNP7kGVeptlp+iKMPnf
			<br> FtvzRgXCNyvT3AI8VP5ZaMm1eD/FHCeoV9IE1DKc/hW+zQqs1JdsjFSgRjPnRbkM
			<br> ZyVBjA6GnwER1qfJ6zaDD5/h1bUHPLRq+9Dq0fqnZoV68Sot3CbrfrVHsebmwSjg
			<br> iV1ty1U5tt2h1iFY1z4v1zx7b2Tax1qBn9bm1F0GAib7FzfdbLeSeEHngjTSq5M7
			<br> mGuYQ2dNdSAu3sNVamilxB1cTMBx99LnjhJVqq+0hPOLSQWmFaieKr2IbimMndC7
			<br> cpx06jqXnP1GGWpkcQLxAoazqR/Z0KoCOqMrGATYBewFp7UbejhPawmfm4WZEtRl
			<br> pC2QVTaeWRhn1Mub0E08l4Y5W/niovW/688QA/PveYqKdq0+kp+jc1Fn92cPRmzO
			<br> pjwbMBPmhw0wUxy3ojAXFjmhQ/ue/yWaukV14KeaDoQk0G5LQ0ktv4gIkQNlM7kp
			<br> GAa9zp7boLdzh4iRABEBAAGJAjwEGAEKACYWIQR1Wwiiv85wHakJMLIZTqXZoInD
			<br> UwUCagAiUAIbDAUJACeNAAAKCRAZTqXZoInDU1FkD/9G5IGp3kazODV6RKOVqhYQ
			<br> eiYbPWBv1Ki51KJ7ig8Rxt252yg+Y4ewVPpA5UTXOtXZcoCP+ho5kdqLOjJRRana
			<br> hGuzh/m0sSWACXAW+n1LyuYgTbNWjsFSrNWECUF+GCFDvTtYqIWQFeu+enf/gM50
			<br> FLFXm4VM6P4KpWwowGlfYvQxAGKOBkYGn/AfcIK3vAs7mxjFpxWSyv0AcdZcn2dw
			<br> vjlDDD0gw2uFYM2f7IZJVfgfCU/GFLHDmfWA3SoRl7FXV3R6fS+vccwG/ZSP6hh+
			<br> OOFVetmu+G2fofJjISJiRhxD7r9Tn/gzrm+posHWfNqZXkvcsNOiJUM/sGl85ZhQ
			<br> 86qhD0U7xWD74DS92G/yDRA9s90gcsHX37f4xEgtD5mkkA4l1Z2gzg0sS8KZE3LF
			<br> ab1R9gusgDC0zLxfH0AkULEkAsoro1jqmAMNxx0sz2ujSO93fANHkfZpJN/J31gk
			<br> nUKvt0w8oCTr7ZiDQMq34idWZ4ma52DhnULurkVkz/1Tq49eT6akVwQVrnGtceXE
			<br> K9S/+fLhhhn30SuiuFx/9+Lwdu6zw1OBxe4pU9u9HKuSv/W+FhHoDNG9Ul43QV4Q
			<br> PLJHiabCisnJslvWQhq5o78cTEhEsEU+0C3SiAkNZtZYd3kLlnMtxoC5jfRQAVpP
			<br> hx0a23yaoUX3ucYRamQAdg==
			<br> =7CYI
			<br> -----END PGP PUBLIC KEY BLOCK-----
 		</div>

	</div>
</div>
{% endblock %}
