{% extends "base.html" %}

{% block title %}Home — 0xf0ad{% endblock %}

{% block main %}
<div class="term-session">
		<div class="term-prompt-line">
			<span class="term-ps1">
				<span class="t-user">heacker</span><span class="t-at">@</span><span class="t-host">MACHIINE</span><span
					class="t-sep">:</span><span class="t-path">~</span><span class="t-dollar"> $ </span>
			</span>
			<span class="term-cmd">whoami</span>
		</div>
		<div class="term-output">
			<b>Hello!</b>, I'am <b>Hamza Fouad</b> I'm a 20 years old Computer-Science / Embedded Systems /
			Computer-Engineering udergrad student at the National Institute of Posts and Telecommunications (INPT), Rabat.
			Interested in low level programming and I love breaking perfectly working things and fixing broken things.
		</div>
	</div>
</div>
{% endblock %}
