{% extends "base.html" %}

{% block title %}{{ section.title }} | 0xf0ad{% endblock %}

{% block main %}
<div class="term-session">

	<div class="term-block">
		<div class="term-prompt-line">
			<span class="term-ps1"><span class="t-user">{{ config.extra.user }}</span><span class="t-at">@</span><span class="t-host">{{ config.extra.host }}</span><span class="t-sep">:</span><span class="t-path">~</span><span class="t-dollar"> $</span></span>
			<span class="term-cmd"> cat "{{ section.title | lower }}"</span>
		</div>
	</div>

	<article class="term-output term-article">
		<div class="term-prose">
			{{ section.content | safe }}
		</div>
	</article>

</div>
{% endblock %}
