{% extends "base.html" %}

{% block title %}{{ section.title }} | 0xf0ad{% endblock %}

{% block main %}
<div class="term-session">
	<div class="term-block">
		<div class="term-prompt-line">
			<span class="term-ps1"><span class="t-user">{{ config.extra.user }}</span><span class="t-at">@</span><span class="t-host">{{ config.extra.host }}</span><span class="t-sep">:
			</span><span class="t-path">~/{{ section.title | lower }}</span><span class="t-dollar"> $</span></span>
			<span class="term-cmd"> ls -la</span>
		</div>
		<div class="term-output">
			<div class="ls-total">total {{ section.pages | length }}</div>
			<div class="ls-long">
				{% for page in section.pages %}
				<div class="ls-entry">
					{% if page.taxonomies.tags %}
					<div class="ls-tags-line">
						{% for tag in page.taxonomies.tags %}<span class="ls-tag">#{{ tag }}</span>{% endfor %}
					</div>
					{% endif %}
					<div class="ls-row">
						<span class="ls-perm t-comment">-rw-r--r--</span>
						<span class="ls-size t-dim">{{ page.reading_time }} min</span>
						<span class="ls-date t-yellow">{{ page.date | default(value=now()) | date(format="%b %d %Y") }}</span>
						<span class="ls-name"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></span>
					</div>
					{% if page.description %}
					<div class="ls-desc-line t-dim">{{ page.description }}</div>
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
